body {
    width: 100%;
    height: 100%;
}
main {
    background-color: var(--primary-background-color);
    padding: 1.5rem;
}
.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_library {
    width: 70%;
    height: auto;
    border-radius: 150%;
}