:root {
    --primary-font-color: #619f92;
    
    --primary-background-color: #fffdff;
    --navbar-background-color: #EFF5F4;
    
    --button-style-color: #D8E7E4;
    --button-hover-color: #27403A;

    --card-background-color: #B0CFC9;
}